body {
  text-align: center;
  background-color: #f5f4ea;
}

.center {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

#posts {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#posts td, #posts th {
  border: none;
  padding: 8px;
  color: #ddd;
}

#posts tr:nth-child(even){background-color: #364047;}
#posts tr:nth-child(odd){background-color: #434d55;}

#posts tr:hover {background-color: #4c575f;}

#posts th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #61ace9;
  color: white;
}